.slick-dots {
  bottom: -55px;
}

.slick-dots li {
  border: none;
  width: 12px;
  height: 12px;
  font-size: 0px;
  padding: 0;
  border-radius: 50%;
  opacity: 1;
  border: 1px solid var(--secondary-color);
}
.slick-dots li button:before {
  content: "";
}
.slick-dots li.slick-active {
  background-color: var(--secondary-color);
  opacity: 1;
}
/* .slick-dots li:hover {
  background-color: #fff;
  opacity: 1;
} */
@media only screen and (max-width: 767px) {
  .slick-dots li {
    width: 8px;
    height: 8px;
  }
}
