#form-wrapper {
  opacity: 0;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  padding: 20px;
}
.contact_form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.2) !important;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 9999;
  inset: 0 !important;
  display: flex;
  padding: 20px;
}
.popup-send {
  background-color: rgba(0, 0, 0, 0.9) !important;
  max-width: 600px;
  box-shadow: 0 100px 60px -50px rgba(0, 0, 0, 0.5);
  height: 300px;
  border: none !important;
  margin: auto;
  position: absolute;
  inset: 40px;
  display: flex;
  border: none;
  overflow: auto;
  outline: none;
  padding: 20px;
}
.block-popup {
  margin: auto;
  text-align: center;
}
.block-popup p:last-child {
  margin-bottom: 20px;
}
.block-popup h4 {
  color: #ffffff;
  font-family: "JosefinSans", sans-serif;
  margin: 20px 0;
  display: block;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
}
.block-popup span {
  color: var(--secondary);
  font-style: italic;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: all 0.3s ease;
  opacity: 0.5;
  width: 40px;
  height: 40px;
  content: "X";
  /* background-image: url(../img/close.png); */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.close-btn:hover {
  opacity: 1;
  background: var(--secondary);
  color: #fff;
  border-color: var(--secondary);
}
.popup-content {
  background-color: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 100px 60px -50px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  border: none !important;
  margin: auto;
  position: relative;
  display: flex;
  border: none;
  overflow: auto;
  outline: none;
  padding: 50px;
}
.popup-content.light {
  background-color: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 100px 60px -50px rgba(255, 255, 255, 0.5);
}
.popup-content.light .block-popup h4 {
  color: #121212;
}
.popup-content.light .block-popup p {
  color: #222222;
}
.popup-content.light .close-btn {
  filter: drop-shadow(0 1px 3px #ccc);
}
.popup-content .block-popup {
  margin: 0;
  text-align: left;
}

.contact-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 30px;
  font-weight: 600;
  font-family: var(--primary-font-family);
  border: 3px solid var(--secondary-color);
  background: var(--secondary-color);
  transition: all 500ms ease;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}
.contact-send-btn:hover {
  background-color: transparent;
  color: #000;
  transition: all 500ms ease;
}
