.form-control {
  /* margin: 1rem 0; */
  position: relative;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.form-control label {
  font-weight: bold;
  /* margin-bottom: 0.5rem; */
}

.form-control input,
.form-control textarea {
  width: 100%;
  height: 40px;
  border: 1px solid transparent;
  border-bottom: 1px solid #cdcdcd;
  background: transparent;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-color);
  line-height: 18px;
  position: relative;
  padding-left: 0;
  margin-top: 10px;
}
.form-control textarea {
  min-height: 150px;
  resize: vertical;
  padding-top: 10px;
}
::placeholder {
  font-family: var(--primary-font-family);
  color: #9e9e9e;
}
.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

/* .form-control--invalid label,
.form-control--invalid input {
  color: rgb(230, 34, 93);
  border: 1px solid 0 0 10px rgb(230, 34, 93);
} */

/* .form-control--invalid input,
.form-control--invalid textarea {
  border: 1px solid 0 0 10px rgb(230, 34, 93);
} */

.form-control input[type="month"] {
  position: relative;
}

.form-control input[type="month"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.form-control input[type="month"]:before {
  color: transparent;
  background: none;
  display: block;
  font-family: "FontAwesome";
  content: "\f073";
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 6px;
  color: var(--secondary-color);
  cursor: pointer;
}
