.select_container {
  font-family: var(--Nunito_Sans);
  font-weight: normal;
  font-size: 14px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}
.select {
  border: 1px solid #cdcdcd;
  background-color: rgba(34, 100, 80, 0.61);
  padding: 6px 0;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  font-weight: 800;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options_container {
  width: 110px;
  flex-direction: column;
  margin-top: 2px;
  position: absolute;
  top: 30px;
  background-color: #fff;
  z-index: 99;
}
.options_item {
  width: 110px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
  background-color: rgba(34, 100, 80, 0.61);
  color: #fff;
  transition: all 0.2s;
  cursor: pointer;
}
.options_item:nth-child(even) {
  background-color: rgba(34, 100, 80, 0.31);
}
.options_item:hover {
  background-color: rgba(34, 100, 80, 0.81);
}
