.navbar {
  width: 650px;
  /* height: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 750ms;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .navbar {
    width: 550px;
  }
}
@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    width: 100%;
    grid-column: 1 / span 2;
    margin-top: 10px;
  }
}

.nav-item {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  /* position: relative; */
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav-item {
    padding: 40px 5px 35px;
    font-size: 10px;
  }
}
.nav-item:hover {
  color: var(--secondary-color);
}

.active-nav-item {
  color: var(--secondary-color);
}
@media only screen and (max-width: 767px) {
  .nav-item {
    font-weight: 700;
    width: 100%;
    font-size: 1rem;
    line-height: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: var(--primary-color);
  }
  .mobile-nav-link {
    display: block;
    width: 100%;
  }
  .nav-item a {
    display: block;
  }
  .nav-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  .active-nav-item {
    background-color: var(--secondary-color);
  }
}
