.footer {
  height: auto;
  background-color: #2f5651;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  padding: 50px 100px;
  justify-content: space-between;
}
.footer-motto {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  letter-spacing: 2px;
  font-size: 28px;
}
.footer-nav-links {
  display: flex;
  flex-direction: column;
}
.footer-nav-link-items {
  display: flex;
  column-gap: 20px;
}
.footer-nav-links h4 {
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  grid-row: 1 / span 2;
}
.footer-nav-link-item a {
  font-family: var(--primary-font-family);
  font-weight: normal;
  color: #fff;
  font-size: 12px;
  padding: 3px 0;
  display: block;
}
.footer-nav-link-item a:hover {
  color: var(--secondary-color);
}
@media only screen and (max-width: 1000px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 20px 10px;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
  }
  .footer-motto {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 22px;
    text-align: center;
  }
  .footer-nav-links {
    display: flex;
    flex-direction: column;
  }
  .footer-nav-link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px 10px;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 20px;
  }
  .footer-motto {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-size: 22px;
    text-align: center;
  }
  .footer-nav-links {
    display: flex;
    flex-direction: column;
  }
  .footer-nav-link-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
  }
}
