.circle{
    color: white;
    opacity: 1;
    border-radius: 100%;
}
@media screen and (max-width: 767px){
.container-circle{
    width: 32px;
    color: white;
    opacity: 1;
    left: 8px;
    top:-8px;
}
}