.create-tourist-wrapper {
  max-width: 550px;
  margin: 0 auto;
  padding: 30px 0;
}
.create-tourist-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}
.form-control:nth-child(1),
.form-control:nth-child(6),
.create-tourist-wrapper form button {
  grid-column: 1 / span 2;
}
@media only screen and (max-width: 767px) {
  .create-tourist-wrapper {
    width: 100%;
  }
  .create-tourist-wrapper form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.create-tourist-wrapper form .form-control input {
  margin: 0;
}

.create-success {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
.create-success p {
  font-weight: 600;
  font-family: var(--primary-font-family);
  font-size: 24px;
  margin-left: 150px;
}

.rw-widget-picker {
  border: 1px solid transparent;
  border-bottom: 1px solid #cdcdcd;
  border-radius: 0;
}

.rw-widget-input,
.rw-list-option {
  box-shadow: none;
  color: var(--primary-color);
  font-family: var(--primary-font-family);
}
.rw-dropdown-list-input {
  padding: 0;
}
.rw-state-focus .rw-widget-picker.rw-widget-input {
  box-shadow: none;
}
.rw-state-focus .rw-widget-picker {
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  border-radius: 0;
}
.select_label {
  font-family: var(--primary-font-family);
  font-weight: bold;
  font-size: 16px;
}
