.tourist-card-wrapper {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  padding: 30px 50px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
@media only screen and (max-width: 767px) {
  .tourist-card-wrapper {
    padding: 30px 10px;
  }
}
.tourist-card-content_title {
  font-size: 18px;
}
.tourist-card-content_title p {
  font-size: 14px;
  padding-top: 6px;
}

.tourist-card-content-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  margin-top: 16px;
}
.tourist-card-content-items p {
  display: grid;
  grid-template-columns: 75px 5px auto;

  text-align: left;
  font-size: 12px;
}
.tourist-card-content-items span:nth-child(1) {
  font-weight: 600;
}
.tourist-card-content-items span:nth-child(3) {
  word-break: break-word;
  max-width: 450px;
}
.tourist-card-btns {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.btn-tourist-card {
  min-width: 100px;
  min-height: 24px;
  font-size: 10px;
}
.delete-btn {
  background-color: #fff;
  border: 2px solid var(--color_danger);
  color: var(--primary-color);
}
.delete-btn:hover {
  background-color: var(--color_danger);
  color: #fff;
}
