.tourists-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  overflow-y: scroll;
  padding: 0 20px;
}
@media only screen and (max-width: 820px) {
  .tourists-wrapper {
    padding: 2px 0 150px;
  }
}
.tourist-details-header {
  padding: 0 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
.tourist-details-header-content {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  row-gap: 2px;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;
}
.tourist-details-header-content h3 {
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 6px;
}
.tourist-details-header-content p,
.tourist-details-header-content a {
  display: grid;
  grid-template-columns: 60px 1fr;
  font-size: 12px;
  color: var(--primary-color);
}
.tourist-details-header-content p span,
.tourist-details-header-content a span {
  color: var(--primary-color);
  font-weight: 600;
  opacity: 0.8;
}

.tourist-details-header img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: auto;
}
.tourist-details-header-content a:hover {
  color: var(--secondary-color);
  transition: all 0.3s;
}
.add-tour-link {
  margin-right: auto;
  margin-top: auto;
  padding-bottom: 10px;
}
.add-tour-link a {
  color: var(--primary-color);
  font-size: 14px;
  font-family: var(--primary-font-family);
  border: 1px solid #cdcdcd;
  padding: 6px 20px;
  transition: all ease-in-out 0.2s;
  display: block;
}
.add-tour-link a:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
.profile_icon {
  font-size: 84px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(128, 128, 128, 0.664);
}

.tourists-wrapper_header {
  font-family: var(--primary-font-family);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cdcdcd;
  margin-bottom: 10px;
}
.tourists-wrapper_header:hover {
  background-color: var(--secondary-color);
  color: #fff;
  cursor: pointer;
}

.minus-tire {
  margin: 0 10px;
  color: var(--secondary-color);
  opacity: 0.8;
}
.tourists-wrapper_header:hover .minus-tire {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .tourists-wrapper_header {
    font-family: var(--primary-font-family);
    padding: 10px;
    margin-bottom: 20px;
  }
  .tourists-wrapper_header h4 {
    font-size: 10px;
  }
  .minus-tire {
    margin: 0 5px;
  }
}
