:root {
  --primary-color: #3a3f4b;
  --secondary-color: #ff6a4f;
  --third-color: #fcbe16;
  --white-color: #fff;
  --primary-font-family: "PT Sans", Helvetica, Arial, sans-serif;
  --title-font-family: "Montserrat", sans-serif;
  --color_danger: rgb(230, 34, 93);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100%;
  overflow-x: clip;
  background-color: #f0f5f8b6;
}
a {
  text-decoration: none;
}
button {
  border: none;
}

ul {
  list-style: none;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 500ms;
}

.section_container {
  padding-top: 120px;
}

.section_title {
  font-family: var(--title-font-family);
  font-weight: 700;
  font-size: 32px;
  position: relative;
  text-align: center;
}
.section_title .section-suptitle {
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  z-index: 0;
  opacity: 0.05;
  font-weight: 900;
  text-transform: uppercase;
}
.section-title-separator {
  height: 3px;
  width: 100px;
  background-color: var(--secondary-color);
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  .section_title {
    font-size: 26px;
  }
  .section_title .section-suptitle {
    font-size: 60px;
    top: -36px;
  }
  .section-title-separator {
    width: 70px;
    margin-top: 10px;
  }
}

@keyframes show_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.show_opacity {
  -webkit-animation: linear forwards;
  -webkit-animation-name: show_opacity;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ff694f56;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff694f75;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff694fb2;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  min-height: 40px;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 30px;
  font-weight: 600;
  font-family: var(--primary-font-family);
  border: 3px solid var(--secondary-color);
  background: var(--secondary-color);
  transition: all 500ms ease;
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
}
.btn:hover {
  background-color: transparent;
  color: #000;
  transition: all 500ms ease;
}
